/Java/MyFirstJavaApp/nbproject/private/
/Java/MyFirstJavaApp/build/
/Java/MyFirstJavaApp_1/nbproject/private/
/Java/Oracle/PracticeFiles/Student/nbproject/private/
/Java/Oracle/PracticeFiles/Student/build/
/Java/Oracle/JavaApplication1/nbproject/private/
/Java/Oracle/Java Practice hw/JavaPractice4-2/nbproject/private/
/Java/Oracle/Java Practice hw/Student/nbproject/private/
/Java/Oracle/Java Practice hw/Student/build/
/Java/Oracle/PracticeFiles/Student2/nbproject/private/
/Java/Oracle/PracticeFiles/Student2/build/
/Java/Oracle/PracticeFiles/Person/nbproject/private/
/Java/Oracle/PracticeFiles/Person/build/
/Java/Oracle/PracticeFiles/Person/dist/
