body {
    background-color: lightblue;
}

h1 {
    color:red;
    text-align:center;
}
.Manga-art {
    display: flex;
    position: relative;
}
#animepic {
    display:block;
    margin: 0 auto;
    width: 200px;
}

#headertext {
    text-indent: 2em;
}

.animebanner {
    border-style: dotted;
}
